<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="httpurl" value="https://corp2world.com:9443/rest/message/post"/>
		<add key="username" value="user"/>
		<add key="password" value="password"/>
		<add key="proxyserver" value=""/>
		<add key="proxyport" value=""/>
		<add key="proxyusername" value=""/>
		<add key="proxypassword" value=""/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
